h1{
    background-color: slateblue;
    text-transform: uppercase;
    color: lightpink;
}

h2{
    background-color: silver;
}

h3{
    background-color:lavender;
    text-transform: uppercase;
}

ul{
    list-style-position: inside;
    border: 4px;
    border-style: dotted solid double dashed;
    
}

p{
    word-wrap: break-word;

}

div{
    background-color: lightgoldenrodyellow
}

.navzone{
    line-height:75%
}

.extreme{
    text-align: center;
}


#head1{
    text-shadow: 4px 4px #000000;
}

#tehlulz{
    visibility: hidden;
}

.content{
    text-transform: lowercase;
}

.prose{
    text-align: right;
}