h1{
    background-color: black;
    color: white;
    text-align: center;
    direction: rtl;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    font-stretch: expanded;
    font-width: bold;
}

a{
    border: 2px solid royalblue;
    color: red;
}

h3{
    background-color: black;
    color: white;
    text-align: center;
    font-stretch: expanded;
}

ul{
    list-style-position: inside;
}

p{
    text-align: center;
}

div{
    text-justify: kadisha;
}

.extreme{
    background-color: black;
    color: white;
    border: 5px solid red; 
}


#head1{
    font-family: "Comic Sans MS";
}

.navzone{
    border: 2px dashed royalblue;
}

#tehlulz{
    text-transform: uppercase;
}

.content{
    font-style: italic;
}

.prose{
    cursor: text;
}


