h1{
    background-color: black;
    color: white;
    text-align: center;
    direction: rtl;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    font-stretch: expanded;
    font-width: bold;
}

a{
    border: 2px solid lightsteelblue;
    color: hotpink
}

h3{
    background-color: black;
    color: white;
    text-align: center;
    font-stretch: expanded;
}


p{
    text-align: center;
}


